@import "./vars";

html, body {
  margin: 0;
  padding: 0;
}

// 全局滚动条
::-webkit-scrollbar-track-piece { //滚动条凹槽的颜色，还可以设置边框属性
  background-color: #f8f8f8;
}

::-webkit-scrollbar { //滚动条的宽度
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-thumb { //滚动条的设置
  background-color: #dddddd;
  background-clip: padding-box;
  min-height: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}


// Logo
.admin-layout-logo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: @ADMIN-HEADER-HEIGHT;
  line-height: @ADMIN-HEADER-HEIGHT;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: @ADMIN-MAIN-BG-COLOR;
  text-align: center;

  img {
    height: @ADMIN-HEADER-HEIGHT;
    line-height: @ADMIN-HEADER-HEIGHT;
    padding: 12px 0;
    user-select: none;
  }
}

// Sider
.admin-sider {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height: auto;
  min-height: 100vh; /* 设置固定高度为视口高度 */
  overflow: auto; /* 添加滚动条 */
}

// 隐藏菜单滚动条
.admin-sider::-webkit-scrollbar {
  width: 0 !important;
}

.admin-sider-menu::-webkit-scrollbar {
  width: 0 !important;
}

// 菜单
.admin-sider-menu {
  margin-top: calc(@ADMIN-HEADER-HEIGHT + 10px);
  padding-bottom: calc(@ADMIN-HEADER-HEIGHT + 10px);
  overflow-y: scroll;
  grid-template-rows: 1fr;
  scrollbar-width: none;
  -ms-overflow-style: none;
  user-select: none;

  // 文字
  span {
    letter-spacing: 1px;
    color: #ffffff;
  }
}

// Header
.admin-header {
  height: @ADMIN-HEADER-HEIGHT;
  line-height: @ADMIN-HEADER-HEIGHT;
  background-color: #ffffff;
  box-shadow: @ADMIN-BOTTOM-BOX-SHADOW;
  border-bottom: @ADMIN-BOTTOM-BOX-BORDER;
  z-index: 1;
  padding: 0 @ADMIN-BLANK-PADDING;
  display: flex;
  justify-content: space-between;

  .ant-btn {
    height: @ADMIN-HEADER-HEIGHT;
    line-height: @ADMIN-HEADER-HEIGHT;
  }

  .ant-btn.ant-btn-icon-only .anticon {
    font-size: 18px;
  }

  .admin-header-dropdown {
    display: block;
    padding-left: 10px;
  }

  .admin-header-dropdown:hover {
    cursor: pointer;
  }
}

// 主题内容区
.admin-content {
  min-height: 200px;
  background-color: #ffffff;

  // Dashboard Page Header
  .admin-dashboard-header {
    padding: 20px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 10px rgba(9, 30, 66, 0.05);
    border-bottom: 1px solid rgba(9, 30, 66, 0.08);

    .admin-dashboard-header-left {
      display: flex;
      justify-content: flex-start;
      height: 60px;

      .admin-dashboard-header-avatar {
        margin-right: 20px;
      }

      .admin-dashboard-header-info {
        .admin-dashboard-header-hello {
          font-size: 18px;
          font-weight: bold;
          height: 35px;
          line-height: 35px;
        }

        .admin-dashboard-header-job {
          color: rgba(0, 0, 0, 0.45);
          height: 25px;
          line-height: 25px;
        }
      }
    }

    .admin-dashboard-header-right {
      display: flex;
      justify-content: flex-end;
      height: 60px;

      .ant-statistic:not(:last-child) {
        margin-right: 30px;
      }

      .ant-statistic-title {
        height: 30px;
        line-height: 30px;
        margin-bottom: 0;
      }

      .ant-statistic-content {
        height: 30px;
        line-height: 30px;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }

  // Common Header
  .admin-common-page-header {
    padding: @ADMIN-BLANK-PADDING;
    box-shadow: 0 2px 10px rgba(9, 30, 66, 0.05);
    border-bottom: 1px solid rgba(9, 30, 66, 0.08);

    .admin-common-page-header-box {
      padding: 20px;
      padding-bottom: 15px;
      border: 1px solid rgba(0, 0, 0, 0.04);
      background-image: url("../../assets/images/background/bg.png");
      background-size: 100%;
      background-repeat: no-repeat;
      background-color: rgba(0, 0, 0, 0.02);

      .admin-common-page-header-title {
        height: 15px;
        line-height: 15px;
        font-size: 15px;
        font-weight: bolder;
        border-left: 4px solid #ed1c24;
        padding-left: 8px;
        margin-bottom: 15px;
      }

      .admin-common-page-header-content {
        letter-spacing: 1px;
        line-height: 25px;

        ul {
          margin: 0;
          padding-left: 30px;
        }
      }
    }
  }

  // 主体
  .admin-main-content {
    margin: @ADMIN-BLANK-PADDING;

    .admin-main-content-left {
      .admin-list {
        border: 1px solid rgba(9, 30, 66, 0.07);
        box-shadow: @ADMIN-BOX-SHADOW;

        .ant-btn {
          height: 28px;
          line-height: 28px;
        }

        .admin-content-box {
          .admin-context-search {
            background-color: rgb(242, 243, 245);
            margin-bottom: 15px;

            .ant-btn {
              border: none;
              background-color: rgb(242, 243, 245);
            }

            .ant-btn-icon {
              position: relative;
              top: 1px;
            }
          }
        }

        .ant-tree .ant-tree-switcher {
          line-height: 28px;
        }

        .ant-input {
          padding: 3.5px 11px;
        }

        .ant-tree .ant-tree-node-content-wrapper .ant-tree-iconEle,
        .ant-tree .ant-tree-checkbox + span .ant-tree-iconEle,
        .ant-tree .ant-tree-node-content-wrapper {
          line-height: 28px;
          height: 28px;
        }
      }
    }

    .admin-main-content-right {
      .admin-detail {
        border: 1px solid rgba(9, 30, 66, 0.07);
        box-shadow: @ADMIN-BOX-SHADOW;
        margin-left: @ADMIN-BLANK-PADDING;
      }
    }

    .admin-main-content-left .admin-list .admin-content-header,
    .admin-main-content-right .admin-detail .admin-content-header {
      padding: 0 20px;
      border-bottom: @ADMIN-BOTTOM-BOX-BORDER;
      font-size: 15px;
      font-weight: bolder;
      line-height: 50px;
      height: 50px;
    }

    .admin-main-content-left .admin-list .admin-content-box,
    .admin-main-content-right .admin-detail .admin-content-box {
      padding: 15px 20px;
    }
  }
}

// 底部
.admin-footer {
  text-align: center;
  background-color: #ffffff;
}

// 加载中
.admin-loading {
  position: absolute;
  top: 50%;
  left: 50%;
}